body {
  background-image: linear-gradient(to right top, #ffac98, #ffb5a3, #febfaf, #fdc8ba, #fcd1c6);
  height: 100vh;
}

.title {
  color: white;
  font-weight: bolder;
  /* text-shadow: 0px 6px 2px rgb(206 89 55 / 59%); */
  text-shadow: 0px 4px 2px rgb(206 89 55 / 59%);
  text-transform: uppercase;
}
